@import "tailwindcss";

/* Importa tus componentes */
@import "./components/buttons.css";
@import "./components/nav.css";
@import "./components/cards.css";

/* Define variables de color para el tema */
@theme {
  --color-primary: #232946;
  --color-primary-dark: #fff7f7;

  --color-secondary: #5f6c7b;
  --color-secondary-dark: #f4f4f5;

  --color-accent: #0E3B43;
  
  --color-link: #1a5480;
  --color-link-hover: #257DB3;

  --color-background: #fffffe;
  --color-button-bg: #007bff1a;

  --color-surface: #ffffff;
  --color-surface-dark: #1e293b;

  --color-border: #e5e7eb;
  --color-border-dark: #334155;

  --radius-card: 1.5rem;
}

/* Define fuentes del sitio */
@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/Atkinson-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson';
  src: url('/fonts/Atkinson-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Atkinson', system-ui, sans-serif;
    background-color: var(--color-background);
    min-height: 100vh;
    color: var(--color-accent);
  }
  /* Modo oscuro */
  .dark body {
    background-color: black;
    color: var(--color-secondary-dark);
  }

  /* enlaces */
  a {
    color: var(--color-link);
  }

  a:hover {
    color: var(--color-link-hover);
  }

  a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-background), 0 0 0 4px var(--color-link);
    border-radius: 4px;
  }

  /* encabezados y párrafos */
  h1,
  h2,
  h3,
  h4 {
    color: var(--color-primary);
    @apply mb-4
  }

  p {
    line-height: 1.6;
    @apply text-secondary;
  }

  
}



/* enlace salto a contenido */
.skip-link {
  color: inherit;
}

.skip-link:focus-visible {
  color: white;
}

/* Menu movil */

.menu-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}