@font-face {
  font-family: "Atkinson-Hyperlegible-Regular-102";
  src: url(../fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2");
  src: url(../fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  src: url(../fonts/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2");
  src: url(../fonts/WOFF/Atkinson-Hyperlegible-Italic-102.woff) format("woff");
  font-display: swap;
}

:root {
  --indigo: #232946;
  /*textos*/
  --dark-teal: #0E3B43;
  /*enlaces*/
  --dark-blue: #1a5480;
  --light-blue: #2599DA;
  /*titulos*/
  --white: #fffffe;
  --gray: #5f6c7b;


}



* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson-Hyperlegible-Regular-102", sans-serif;
  color: var(--dark-teal);
}

body {
  background-color: var(--white);
  text-align: left;
  min-height: 300vh;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: "Atkinson-Hyperlegible-Italic-102", Verdana;
  font-weight: bold;
  color: var(--dark-blue);
}

h1 {
  font-size: 2.5rem;
}

section {
  padding: 80px 0;
  overflow: hidden;
}

a {
  color: var(--dark-blue)
}

a:hover {
  color: var(--light-blue);
}

a:active {
  border-style: dotted;
  color: var(--light-blue);
}



/* Buttons */
.btn-bd-primary {
  --bs-btn-font-weight: 300;
  --bs-btn-font-size: 1.2rem;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--dark-blue);
  --bs-btn-border-color: var(--dark-blue);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--light-blue);
  --bs-btn-hover-border-color: var(--light-blue);
  --bs-btn-focus-shadow-rgb: var(--dark-teal);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--dark-blue);
  --bs-btn-active-border-color: var(--dark-blue);
}


.btn-bd-primary:hover {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color: var(--white);
}

.btn {
  border-color: var(--dark-teal);
  background-color: var(--dark-teal);
  font-weight: bold;
  color: var(--white);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn:hover,
.btn.active {
  background-color: var(--light-blue);
  border-color: var(--light-blue);
  color: var(--indigo);
}


/* Hero Section */
.hero {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-content: start;
  flex-direction: column;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__subtitle {
  font-size: 1.5rem;
}

.hero__button {
  width: 50%;
  margin-top: 1rem;
}

/* Navegation bar */
.navbar {
  background: #fff;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

.nav-link {
  color: var(--dark-blue);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--indigo);
  font-weight: 600;
}

.nav-link--active {
  color: var(--indigo);
  font-weight: bold;
  border-bottom: 2px solid var(--light-blue);
}

/* About me Section */

.about-me__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__image--photo {
  width: 70%;
  height: auto;
}

.about-me__social {
  padding-top: 1rem;
}

.about-me__social i {
  color: var(--white);
}

.about-me__social a {
  font-size: 1.2rem;
  display: inline-block;
  background: var(--dark-blue);
  color: var(--white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.5s;
}

.about-me__social a:hover {
  background: var(--light-blue);
  color: var(--white);
  text-decoration: none;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formation section */

.formation__title {
  text-align: center;
  padding-top: 30px;
}

.formation__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.formation__grades {
  margin: 1rem 20px 0px 20px;
}

.formation__sub-title {
  color: var(--light-blue);
}

.formation__item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--light-blue);
  position: relative;
}

.formation__item--title {
  color: var(--indigo);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.formation__item ul {
  padding-left: 20px;
}

.formation__item ul li {
  padding-bottom: 10px;
}

.formation__item:last-child {
  padding-bottom: 0;
}

.formation__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 5px;
  background: var(--white);
  border: 2px solid var(--light-blue);
}

.formation__cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 1rem auto 0px auto;
  width: 95%;
  justify-content: center;
}

.formation__cards--card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding: 8px;
  max-width: 190px;
}

.formation__cards--body {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.formation__cards--img {
  width: 100px;
  height: auto;
  max-width: 200px;
}

.formation__cards--title {
  text-align: center;
  min-height: 43px;
  align-content: center;
  font-size: 1.1rem;
}

.formation__cards--text {
  hyphens: auto;
  text-transform: math-auto;
  min-height: 96px;
}

.formation__cards--footer {
  font-weight: bold;
  font-size: smaller;
  text-transform: capitalize;
}

/* Skills Section */

.skills__title {
  text-align: center;
  padding-top: 30px;
}

.skills__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.skills__logo {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
  padding-top: 1rem;
}

.skills__logo--image {
  flex-grow: 1;
  width: 100px;
  margin: 0 auto;
  object-fit: cover;
  max-width: 100px;
}

/* Blog Section */

.blog__title {
  text-align: center;
  padding-top: 30px;
}

.blog__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.blog__card {
  margin-bottom: 20px;
  height: 100%;
}

.blog__card--body {
  display: flex;
  flex-direction: column;
  align-items: revert-layer;
  justify-content: end;
}

.blog__card--title {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  margin: 0 1rem 10px 1rem;
  font-size: 16px
}

.blog__card--img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* Carousel buttons */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border-radius: 50%;
  background-size: 0.6rem;
  background-color: var(--light-blue);
}

.carousel-control-next,
.carousel-control-prev {
  align-items: self-end;
  width: 10%;
  height: 10%;
  top: 90%;
}

.carousel-indicators {
  bottom: -1rem;
}

.carousel-indicators li {
  background-color: var(--dark-blue);
}

/* Portfolio Section */

.portfolio__title {
  text-align: center;
  padding-top: 30px;
}

.portfolio__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Modal max width */

.modal-dialog-centered {
  max-width: 85vw;
}

.portfolio__projects{
  min-height: 500px;
}

.portfolio__projects--item {
  padding-top: 1.5rem;
}

.portfolio__projects--container {
  position: relative;
  display: inline-block;
}
.portfolio__projects--image{
  border: 1px solid gray;
  border-radius: 20px;
  max-width: 70%;
  height: auto;
  padding: 20px;
}
.portfolio__projects--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: rgba(95, 108, 123, 0.888); /* Fondo semi-transparente */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.3s ease;
  border-radius: 20px;
  pointer-events: none; /* Esto permite que los clics pasen a través del overlay */
}

.portfolio__projects--container:hover .portfolio__projects--overlay {
  opacity: 1; /* Se muestra cuando el usuario pasa el cursor */
  pointer-events: none; 
}

.portfolio__projects--overlay span {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}