@font-face {
  font-family: "Atkinson-Hyperlegible-Regular-102";
  src: url(../fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2");
  src: url(../fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  src: url(../fonts/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2");
  src: url(../fonts/WOFF/Atkinson-Hyperlegible-Italic-102.woff) format("woff");
  font-display: swap;
}

:root {
  --background: #232946;
  --dark-teal: #0E3B43;
  /*textos*/
  --dark-blue: #1a5480;
  /*titulos*/
  --white: #fffffe;
  --gray: #5f6c7b;
  --light-blue: #2599DA;

}



* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson-Hyperlegible-Regular-102";
  color: var(--dark-teal);
}

body {
  background-color: var(--white);
  text-align: left;
  min-height: 300vh;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  color: var(--dark-blue);
}

h1 {
  font-size: 2.5rem;
}

section {
  padding: 80px 0;
  overflow: hidden;
}


/*Buttons*/
.btn-bd-primary {
  --bs-btn-font-weight: 300;
  --bs-btn-font-size: 1.2rem;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--dark-blue);
  --bs-btn-border-color: var(--dark-blue);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--light-blue);
  --bs-btn-hover-border-color: var(--light-blue);
  --bs-btn-focus-shadow-rgb: var(--dark-teal);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--dark-blue);
  ;
  --bs-btn-active-border-color: var(--dark-blue);
  ;

}

/*Hero Section*/
.hero {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-content: start;
  flex-direction: column;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__subtitle {
  font-size: 1.5rem;
}

.hero__button {
  width: 50%;
  margin-top: 1rem;
}

/*navegation bar*/
.navbar {
  background: #fff;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

/*about me section*/

.about-me__image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__image--photo{
  width: 70%;
  height: auto;
}

.about-me__social{
  padding-top: 1rem;
}
.about-me__social i{
  color: var(--white);
}
.about-me__social a{
    font-size: 1.2rem;
    display: inline-block;
    background: var(--dark-blue);
    color: var(--white);
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.5s;
  }
  
  .about-me__social a:hover {
    background: var(--light-blue);
    color: var(--white);
    text-decoration: none;
  }

.about-me__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me__subtitle{
  text-align: center;
  padding-top: 30px;
}

.about-me__subtitle--phrase{
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color:var(--light-blue);
}

