@font-face {
  font-family: "Atkinson-Hyperlegible-Regular-102";
  src: url(../fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2) format("woff2");
  src: url(../fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  src: url(../fonts/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2) format("woff2");
  src: url(../fonts/WOFF/Atkinson-Hyperlegible-Italic-102.woff) format("woff");
  font-display: swap;
}

:root {
  --indigo: #232946;
  /*textos*/
  --dark-teal: #0E3B43;
  /*enlaces*/
  --dark-blue: #1a5480;
  --light-blue: #2599DA;
  /*titulos*/
  --white: #fffffe;
  --gray: #5f6c7b;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Atkinson-Hyperlegible-Regular-102", sans-serif;
  color: var(--dark-teal);
}

body {
  background-color: var(--white);
  text-align: left;
  min-height: 300vh;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: "Atkinson-Hyperlegible-Italic-102", Verdana;
  font-weight: bold;
  color: var(--dark-blue);
}

h1 {
  font-size: 2.5rem;
}

section {
  padding: 80px 0;
  overflow: hidden;
}

a {
  color: var(--dark-blue)
}

a:hover {
  color: var(--light-blue);
}

a:active {
  border-style: dotted;
  color: var(--light-blue);
}

/* Buttons */
.btn-bd-primary {
  --bs-btn-font-weight: 300;
  --bs-btn-font-size: 1.2rem;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--dark-blue);
  --bs-btn-border-color: var(--dark-blue);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--light-blue);
  --bs-btn-hover-border-color: var(--light-blue);
  --bs-btn-focus-shadow-rgb: var(--dark-teal);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--dark-blue);
  --bs-btn-active-border-color: var(--dark-blue);
}

.btn:hover,
.btn-bd-primary:hover {
  background-color: var(--light-blue);
  border-color: var(--dark-blue);
  color: var(--white);
}

.btn-bd-primary:focus,
.btn:focus {
  border: 2px var(--white) dotted;
}


.btn {
  border-color: var(--dark-blue);
  background-color: var(--dark-teal);
  font-weight: bold;
  color: var(--white);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


.btn.active {
  background-color: var(--light-blue);
  border-color: var(--dark-blue);
  color: var(--indigo);
}

.go-to-top {
  display: none;
  padding: 10px;
  background: var(--dark-teal);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 20px;
  border-radius: 50px;
  z-index: 5;
}

.go-to-top:hover {
  background: var(--light-blue);
  color: var(--indigo);
}

.nav-item{
  margin: auto 10px;
}

/* Skip to content */
.cloak {
  position: absolute ! important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.cloak:focus {
  width: 100%;
  height: auto;
  clip: unset;
  background-color: var(--indigo);
  color: white;
  text-align: center;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-content: start;
  flex-direction: column;
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__image--photo {
  border-radius: 50%;
}

.hero__subtitle {
  font-size: 1.5rem;
}

.hero__button {
  width: 50%;
  margin-top: 1rem;
}

/* Navegation bar */
.navbar {
  background: #fff;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

.nav-link {
  color: var(--dark-blue);
  font-weight: 600;

}

.nav-link:hover {
  color: var(--indigo);
  font-weight: 600;
}

.nav-link--active {
  color: var(--indigo);
  font-weight: bold;
  border-bottom: 2px solid var(--light-blue);
}

.navbar-brand__image{
    width: 40px;
    height: auto;
}

/* About me Section */
.about-me__title {
  text-align: center;
  padding-top: 30px;
}
.about-me__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.about-me__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__image--photo {
  width: 70%;
  height: auto;
}

.about-me__social {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.about-me__social i {
  color: var(--white);
}

.about-me__social a {
  background: var(--dark-blue);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.5s;
  display:flex;
  justify-content: center;
  align-items: center;
}

.about-me__social a:hover {
  background: var(--light-blue);
  color: var(--white);
  text-decoration: none;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Formation section */

.formation__title {
  text-align: center;
  padding-top: 30px;
}

.formation__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.formation__grades {
  margin: 1rem 20px 0px 20px;
}

.formation__sub-title {
  color: var(--light-blue);
}

.formation__item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--light-blue);
  position: relative;
}

.formation__item--title {
  color: var(--indigo);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.formation__item ul {
  padding-left: 20px;
}

.formation__item ul li {
  padding-bottom: 10px;
}

.formation__item:last-child {
  padding-bottom: 0;
}

.formation__item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 5px;
  background: var(--white);
  border: 2px solid var(--light-blue);
}

.formation__cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin: 1rem auto 0px auto;
  width: 95%;
  justify-content: center;
}

.formation__cards--card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  padding: 8px;
  max-width: 190px;
}

.formation__cards--body {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.formation__cards--img {
  width: 100px;
  height: auto;
  max-width: 200px;
}

.formation__cards--title {
  text-align: center;
  min-height: 43px;
  align-content: center;
  font-size: 1.1rem;
}

.formation__cards--text {
  min-height: 80px;
}

.formation__cards--footer {
  font-weight: bold;
  font-size: smaller;
  text-transform: capitalize;
}

/* Skills Section */

.skills__title {
  text-align: center;
  padding-top: 30px;
}

.skills__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.skills__logo {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
  padding-top: 1rem;
}

.skills__logo--image {
  flex-grow: 1;
  width: 100px;
  margin: 0 auto;
  object-fit: cover;
  max-width: 100px;
}

/* Blog Section */

.blog__title {
  text-align: center;
  padding-top: 30px;
}

.blog__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.blog__card {
  margin-bottom: 20px;
  height: 100%;
}

.blog__card--body {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.blog__card--title {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  margin: 0 1rem 10px 1rem;
  font-size: 16px
}

.blog__card--img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 5px;
}

/* Carousel buttons */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  border-radius: 50%;
  background-size: 0.6rem;
  background-color: var(--light-blue);
}

.carousel-control-next,
.carousel-control-prev {
  align-items: self-end;
  width: 10%;
  height: 10%;
  top: 90%;
}

.carousel-indicators {
  bottom: -1rem;
}

.carousel-indicators li {
  background-color: var(--dark-blue);
}

/* Portfolio Section */

.portfolio__title {
  text-align: center;
  padding-top: 30px;
}

.portfolio__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Modal max width */

.modal-dialog-centered {
  max-width: 85vw;
}

.portfolio__projects {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.portfolio__projects--item {
  padding-top: 1.5rem;
  /*text-align: center;*/
}

.portfolio__projects--container {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 80%;
}

.portfolio__projects--image {
  border: 1px solid gray;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}
.portfolio__projects--images{
  width: 100%;
}

.portfolio__projects--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #50595E;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  pointer-events: none;
}

.portfolio__projects--container:hover .portfolio__projects--overlay {
  opacity: 1;
  pointer-events: none;
}

.portfolio__projects--overlay span {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

/* Services section */

.services__title {
  text-align: center;
  padding-top: 30px;
}

.services__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.services__card {
  height: 100%;
}

.services__card--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 1rem;
}

.services__card--icon {
  width: 1rem;
}

.services__card--title {
  text-align: center;
  align-content: flex-start;
  height: 4rem;
}

.services__card--text {
  padding: 0rem 1rem;
  height: 8rem;
  margin: 0;
}

/* Contact section */

.contact {
  border-bottom: 1px solid black;
}

.contact__cards {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-direction: row;
  padding-top: 1.5rem;
}

.contact__title {
  text-align: center;
  padding-top: 30px;
}

.contact__title--phrase {
  font-family: "Atkinson-Hyperlegible-Italic-102";
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--light-blue);
  text-align: center;
}

.contact__card {
  height: 100%;
}

.contact__card--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 1rem;
}

.contact__card--icon {
  width: 1rem;
}

.contact__card--title {
  text-align: center;
}

.contact__card--text {
  padding: 0rem 1rem;
}

/* Footer */
.footer {
  padding-top: 1rem;
  background-color: black;
}

.footer__about {
  padding-bottom: 1rem;
}

.footer__about p,
.footer__about b {
  color: var(--white);
}

.footer__img {
  width: 4rem;
  height: auto;
}

.footer__contact h5,
.footer__menu h5 {
  color: var(--light-blue);
}


.footer__contact li,
.footer__contact a,
.footer__contact i {
  color: var(--white);
  margin-right: 8px;
}

.footer__contact a:hover,
.footer__contact i:hover {
  color: var(--light-blue);

}

.footer__menu a {
  color: var(--white);
}

.footer__menu a:hover {
  color: var(--light-blue);
}

.footer__contact ul,
.footer__menu ul {
  list-style-type: none;
  padding-left: 0;
}

.footer__copyright {
  border-top: 1px solid black;
  padding-top: 5px;
}

.footer__copyright p,
.footer__copyright a,
.footer__copyright b {
  color: var(--white);
}

.footer__copyright a:hover {
  color: var(--light-blue);
}

.footer__copyright--polices a {
  color: var(--white);
}

.footer__copyright--polices a:hover {
  color: var(--light-blue);
}

.footer__social {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__social a {
  background: var(--white);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  transition: 0.5s;
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer__social a:hover {
  background: var(--light-blue);
  text-decoration: none;
}
.footer__social a:hover .footer__social--icon {
  fill: var(--white) !important;
}

#year,
#site-title {
  color: var(--white);
}

/* Styles for smartphones */

@media (max-width: 480px) {

  .hero__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .hero__image--photo {
    width: 200px;
    height: auto;
  }

  .hero__subtitle {
    font-size: 1rem;
    padding: 10px;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .hero__button {
    margin: 15px auto;
  }

  .about-me__image{
    display: none;
  }
  section {
    padding: 40px 0;
  }

  .portfolio__filter {
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio__projects {
    gap: 10px;
    min-height: auto;
  }

  .portfolio__projects--image {
    padding: 5px
  }

  .footer__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__contact,
  .footer__menu {
    display: none;
  }

  .footer__copyright {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hero__title{
    font-size: 2rem;
  }
  .hero__subtitle{
    font-size: 1rem;
  }
  .about-me__image{
    display: none;
  }
  
  .footer__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__contact,
  .footer__menu {
    display: none;
  }

  .footer__copyright {
    text-align: center;
  }

  iframe{
    width: auto;
  }

  .nav-item{
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  
  .hero__title {
  font-size: 2rem;
  }
  .hero__subtitle {
    font-size: 1rem;
  }
  .hero__image--photo {
    width: 250px;
  }
  .about-me__image--photo {
    width: 200px;
  }
  .services__card--title{
    height: 6rem;
    margin-bottom: 1rem;
  }
  .services__card--text{
    height: 18rem;
  }
  
  .footer__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__contact,
  .footer__menu {
    display: none;
  }

  .footer__copyright {
    text-align: center;
  }

  iframe{
    width: auto;
  }

  .nav-item{
    text-align: center;
  }
}

